
body{
       background: no-repeat;
       background-color: black;
       margin: 0;
       padding: 0;
       background-image: 
       url(../images/doroga_asfalt_chb_156467_1920x1080.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


  
  .boxcard-link:hover {
    fill: #ffffff;
    background-color: #2196f3;
  }

.list{
    display: flex;
    margin: 10px 300px;

}

.header{
    display: flex;
   height: 50px;
   width: 200px;
   margin-bottom: 10px;
}

.link{
    color: aliceblue;
    font-family: 'Rubik Gemstones', cursive;
  
}

.hero__div{
    width: 1200px;
    max-width: 1200px;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
}

.div__mally{
    width: 300px;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.hero__album{
    display: block;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
   
}

.button-links{
    margin-top: 0;
}

.hero__button-first{
    width: 300px;
    height: 50px;
    color: aliceblue;
    background-color: black;
    font-family: 'Rubik Gemstones', cursive;
    margin-top: 5px;
    border-radius: 5px;
    transition: color 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.hero__button-first:hover{
    color:red;
    background-color: darkred;
    transition: color 250ms ,background-color 255ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    content: "";
}

.it-button{
    
    background-image: url(../images/logo_itunes_onlight.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 290px;
    height: 50px;
}

.apple-button{

    background-image: url(../images/logo_applemusic_onlight.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 290px;
    height: 50px;
}

.spotify-button{

    background-image: url(../images/logo_spotify_onlight.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 290px;
    height: 50px;  
}

.yt-button{
    background-image: url(../images/subscribe-youtube-logo-svg-vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 290px;
    height: 50px;  
  }


  .sc-button{
    background-image: url(../images/23-232482_soundcloud-png-logo-graphic-design-transparent-png.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 290px;
    height: 50px;  
  }

button{
    background-color: #096b8600;
    border-radius: 5% ;
    border-color: #096b8600;
    margin-bottom: 10px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

button:hover{
    background-color: #0ae9c47e;
    border-radius: 5px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    content: "";
}